<div class="grid grid-nogutter surface-section text-800 wow fadeInUp">
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="../../../assets/images/hero.jpg" alt="Image" class="md:ml-auto block md:h-full">
  </div>
  <div class="col-12 md:col-6 px-2 py-5 text-center md:text-left flex align-items-center ">
    <section class="md:pl-4">
      <h2 class="block mb-1">Apprad Company</h2>
      <h1 class="text-primary mb-3">شرکت ایده پردازان پارس آراد</h1>
      <p class="mt-0 mb-4 line-height-3">فعال در حوزه طراحی و پیاده سازی وب سایت، اپلیکیشن موبایل و
        انواع نرم
        افزار سفارشی
      </p>
      <a href="tel:+989168509001">
        <button pButton pRipple label="تماس با ما" type="button" class="ml-3 p-button-raised"></button>
      </a>
      <a href="https://wa.me/989168509001">
        <button pButton pRipple label="درخواست پروژه" type="button" class="p-button-outlined"></button>
      </a>
    </section>
  </div>
</div>