.slider {
  position: relative;
  margin-top: 10px;
}
.slider .text{
  position: absolute;
  color: #fff;
  text-align: center;
  top: 35%;
  width: 100%;
  padding: 0 35px;
}
.slider h1 {
  font-family: myfont-bold;
  font-size: 30px;
}
.slider h2 {
  font-family: myfont;
  font-size: 25px;
  margin-top: 20px;
  line-height: 50px;
}
.slider img {
  border-radius: 10px;
}

@media (max-width: 991px) {
  img {
    height: 260px;
  }
  .slider h1 {
    font-size: 18px;
  }
  .slider h2 {
    font-size: 16px;
    line-height: 30px;
  }
}