<section id="features" class="features">
  <div class="container">

    <header class="section-header mt-3">
      <h2>خدمات</h2>
    </header>

    <div class="row mt-2 mb-5">

      <div class="col-lg-12 mt-5 mt-lg-0 d-flex">
        <div class="row align-self-center gy-4">

          <div class="col-md-6">
            <div class="feature-box d-flex align-items-center">
              <i class="fa fa-check-circle"></i>
              <h3>طراحی وب سایت</h3>
            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-box d-flex align-items-center">
              <i class="fa fa-check-circle"></i>
              <h3>طراحی اپلیکیشن</h3>
            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-box d-flex align-items-center">
              <i class="fa fa-check-circle"></i>
              <h3>اتوماسیون اداری</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
            <div class="feature-box d-flex align-items-center">
              <i class="fa fa-check-circle"></i>
              <h3>طراحی گرافیک</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
            <div class="feature-box d-flex align-items-center">
              <i class="fa fa-check-circle"></i>
              <h3>دیجیتال مارکتینگ</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
            <div class="feature-box d-flex align-items-center">
              <i class="fa fa-check-circle"></i>
              <h3>خدمات سئو</h3>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../../../assets/images/2.jpg" alt="about" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <h2>ما کی هستیم و چکار می کنیم؟</h2>
        <p-tabView class="tabview">
          <p-tabPanel header="طراحی اپلیکیشن" leftIcon="pi pi-lis">
            طراحی سایت  و اپلیکیشن حرفه ای و اختصاصی <br>
            چرا طراحی وب سایت توسط ما ؟
            شرکت ما  ، با سابقه خود در زمینه طراحی وب سایت و اپلیکیشن،  این اطمینان را به شما می دهد که سایتی که برای شما آماده می کند ، یک سایت سئو شده ، کامل و بدون نقص با گرافیک منحصر به فرد می باشد، کافیست نمونه کارهای   ما را ملاحظه کنید
            تعرفه طراحی سایت؟
            ما ارزان نیستیم ولی بهترین هستیم  !  چرا بهترین هستیم ؟
            اکثر مشتریان ما  سایتی لازم دارند که  در صفحات گوگل دیده شوند  !
            با دقت در نمونه کارهای ما متوجه خواهید شد که سرعت لودینگ وب سایت های ما بسیار بالا بوده و تیم ما از جدیدترین فریم ورک های روز دنیا جهت طراحی سایت  و اپلیکیشن استفاده می کند
            کد بهینه شده ،  سرعت مناسب ،  طراحی کاربر پسند  و ریسپانسیو ( واکنشگرا )  در تمامی نسخه های موبایل ، دستکتاپ و  تبلت ،  بدون باگ باشد ،  پشتیبانی خوب و  راهنمایی رایگان برای توسعه سایت و اپ .
            
          </p-tabPanel>
          <p-tabPanel header="دیجیتال مارکتینگ" eftIcon="pi pi-store">
              ارائه دهنده انواع خدمات تبلیغات اینترنتی و موبایلی، مجری و مشاور دیجیتال مارکتینگ و تبلیغات اینترنتی 
              بدون دیجیتال مارکتینگ و تبلیغات اینترنتی سایت شما مثل طلای زیر خاک است و کسی از آن لذت نمی‌برد، حتی خود شما!!!
              کارشناسان ما  با بررسی بودجه و نیاز شما  و تشخیص مناسب ترین پرسنا هدف شما ،استراتژی کوتاه مدت ، میان مدت و بلند مدت دیجیتال مارکتینگ شما را در قالب یک پروپوزال مهیا  و در اختیار شما قرار می دهد .
              بی شک بازدهی بالا ، چابکی و ماندگار بودن از اهداف اصلی خدمات دیجیتال مارکتینگ ما می باشد .
              <br>
              استفاده از انواع شیوه‌های تبلیغات اینترنتی و دیجیتال مارکتینگ :
              <ul>
              <li>SEM (Search Engine Marketing)</li>
              <li>SEO (Search Engine Optimisation)</li>
              <li>PPC (Pay-per-click)</li>
              <li>SMM (Social Media Marketing)</li>
              <li>Content Marketing</li>
              <li>Email Marketing</li>
              <li>Influencer / Affiliate Marketing</li>
              <li>Viral Marketing</li>
              <li>Radio Advertising</li>
              <li>Television Advertising</li>
              <li>Mobile Advertising</li>
              <li>سایر شیوه‌های تبلیغ آنلاین</li>
              </ul>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</section>