<section id="faq" class="faq section-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7">
        <div class="content">
          <h3>سوالات متداول</h3>
          <p>
             در صورت نیافتن جواب سوال خود در بخش ارتباط با
            ما با تیم ما در تماس باشید </p>
        </div>
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="far fa-question-circle icon-help"></i> <a data-toggle="collapse"  class="collapsed"
                href="#faq-list-1">چطور درخواست پروژه بدم؟<i class="fa fa-chevron-down icon-show"></i><i
                  class="fa fa-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                <p> از طریق راه های ارتباطی درخواست خود را ارسال کنید در اسرع وقت با شما تماس می گیریم</p>
              </div>
            </li>

            <li data-aos="fade-up">
              <i class="far fa-question-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
                class="collapsed">آیا امکان بازدید نمونه کارها وجود دارد؟<i class="fa fa-chevron-down icon-show"></i><i
                  class="fa fa-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>بله، در صفحه اینستاگرام شرکت نمونه کارها قابل مشاهده است</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
        style="background-image: url(../../../../assets/images/2.png);">&nbsp;</div>
    </div>
  </div>
</section>