<section class="container mt-5">
  <div class="box wow fadeInUp">

    <div class="item ">
      <i class="pi pi-mobile"></i>
      <!-- <img src="../../../../assets/images/pay.png" class="img-fluid"> -->
      <div class="text">
        <h6>طراحی اپلیکیشن</h6>
        <p>بهترین قیمت</p>
      </div>
    </div>

    <div class="item">
      <i class="pi pi-desktop"></i>
      <!-- <img src="../../../../assets/images/support.png" class="img-fluid"> -->
      <div class="text">
        <h6>طراحی وب سایت</h6>
        <p>کد نویسی سفارشی</p>
      </div>
    </div>

    <div class="item">
      <i class="pi pi-images"></i>
      <div class="text">
        <h6>طراحی گرافیک</h6>
        <p>انواع طراحی تبلیغاتی</p>
      </div>
    </div>

    <div class="item">
      <i class="pi pi-megaphone"></i>
      <div class="text">
        <h6>بازاریابی و سئو</h6>
        <p>برندینگ و مارکتینگ</p>
      </div>
    </div>

    <div class="item">
      <i class="pi pi-calendar"></i>
      <div class="text">
        <h6>نرم افزار سفارشی</h6>
        <p>کد نویسی اختصاصی</p>
      </div>
    </div>

    <div class="item">
      <i class="pi pi-bolt"></i>
      <div class="text">
        <h6>ایده پردازی</h6>
        <p>اپ های استارتاپی</p>
      </div>
    </div>

  </div>
</section>