<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center wow fadeInUp">
  <div class="mb-5 font-bold text-3xl">
      <span class="text-900">خدمات</span>
  </div>
  <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-globe text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">  طراحی وب سایت</div>
          <span class="text-700 line-height-3">با به روزترین فریم ورک بصورت کدنویسی شده با مناسب ترین قیمت و کیفیت</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-mobile text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">طراحی اپلیکیشن</div>
          <span class="text-700 line-height-3">با به روزترین فریم ورک بصورت کدنویسی شده با مناسب ترین قیمت و کیفیت</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-images text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">طراحی گرافیک</div>
          <span class="text-700 line-height-3"> انواع طراحی تبلیغاتی با مناسب ترین قیمت و کیفیت</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-desktop text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">نرم افزار سفارشی</div>
          <span class="text-700 line-height-3">اتوماسیون اداری با به روزترین فریم ورک بصورت کدنویسی سفارشی با مناسب ترین قیمت و کیفیت</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-megaphone text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">بازاریابی و سئو</div>
          <span class="text-700 line-height-3">انواع روش های دیجیتال مارکتینگ و برندینگ با مناسب ترین قیمت و کیفیت</span>
      </div>
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-bolt text-4xl text-blue-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">ایده پردازی</div>
          <span class="text-700 line-height-3">فاندر اپلیکیشن دکمه و پیاده سازی انواع ایده استارتاپی</span>
      </div>
  </div>
</div>
