<div id="contact" class="contact-area">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center mb-5">
            <h2>ارتباط با ما</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fa fa-mobile"></i>
              <p>
                09168509001
                <br>
                <span>شنبه - چهارشنبه (9-18)</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fa fa-envelope"></i>
              <p>
                ایمیل: info@apprad.ir<br>
                <span>وب سایت: www.apprad.ir</span>
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="fas fa-map-marker-alt"></i>
              <p>
                خرم آباد،پارک علم فناوری<br>
                <span> مرکز رشد واحد های فناور </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
